h1, h2, h3 {
  text-align: center;
}
.segment {
  fond-weight: bold;
}
.address {
  font-size: 14;
  float: left;
  width: 50%;
  display: grid;
  text-align: center;
}
#right_box {
  float: right;
}
